<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta property="og:title" content="{% if page.layout == "home" %}{{ site.title }}{% else %}{{ page.title }}{% endif %}" />
  <meta property="twitter:title" content="{% if page.layout == "home" %}{{ site.title }}{% else %}{{ page.title }}{% endif %}" />
  <title>{% if page.title and page.url != "/" %}{{ page.title }} | {% endif %}{{ site.title }}{% if page.title and page.url == "/" %} - {{ site.description }}{% endif %}</title>
  
  {%- seo -%}
  
  <!-- OGP -->
  <meta property="og:title" content="{% if page.layout == "home" %}{{ site.title }}{% else %}{{ page.title }}{% endif %}" />
  <meta property="twitter:title" content="{% if page.layout == "home" %}{{ site.title }}{% else %}{{ page.title }}{% endif %}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/{{ page.image | escape | default: "assets/images/banners/ogp.jpg" }}" />
   {% if page.layout == "post" %}
    <meta property="og:type" content="article" />{% else %}
    <meta property="og:type" content="website" />{% endif %}
  <link rel="shortcut icon" href="{{ site.favicon }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/main.css?v=" | append: site.github.build_revision | relative_url }}">
  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  {%- feed_meta -%}
  {%- include extensions/code-highlight.html -%}
  <script data-goatcounter="https://2vyj09dj8fxuy8uygrir.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</head>
