<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="post-content e-content" itemprop="articleBody">
      
      {% if page.image %}
      <!--画像-->
        <figure>
          <img src="{% if page.image.start_with?(".") %}{{ page.image | relative_url }}{% else %}{{ page.image }}{% endif %}" width="100%" loading="eager" alt="{{page.headAlt | default: 'ヘッダー画像'}}">
          {% if page.copylight %}
            <figcaption>{{ page.copylight }}</figcaption>
          {% endif %}
        </figure>
      {% endif %}

      {{ content }}

    </div>

</article>
