<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="post-content e-content" itemprop="articleBody">
      
      {% if page.image %}
      <!--画像-->
        <figure>
          <img src="{{ page.image | remove: site.baseurl+"/" | relative_url }}" width="100%" loading="eager" alt="{{page.headAlt | default: 'ヘッダー画像'}}">
          {% if page.copylight %}
            <figcaption>{{ page.copylight }}</figcaption>
          {% endif %}
        </figure>
      {% endif %}

      {{ content }}

    </div>

</article>
