<!-- begin wwww.htmlcommentbox.com -->
<div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
<link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
<script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%244K.wn4jYQIUngXrPjMlfG0"+"&opts=17182&num=10&ts=1664079968239");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->


<!-- customize labels of htmlcommentbox.com -->
<script>
  /* This code goes ABOVE the main HTML Comment Box code!
   replace the text in the single quotes below to customize labels.*/
  hcb_user = {
      /* L10N */
      comments_header : 'コメント',
      name_label : 'お名前',
      content_label: 'コメントを入力',
      submit : 'コメントする',
      no_comments_msg: 'この記事にはまだコメントがついていません。最初のコメントをしましょう！',
      add:'コメントを追加',
      again: 'さらにコメントする',
      said:'さん',
      showing:'表示中',
      to:'返信先: ',
      website_label:'ウェブサイト(任意)',
      email_label:'メールアドレス(任意)',
      anonymous:'名無し',
      mod_label:'(管理人)',
      subscribe:'返信がついたらメールで通知する',
      add_image:'画像を追加',
      are_you_sure:'不適切なコメントとして報告してよろしいですか？',
      reply:'返信',
      flag:'報告',
      like:'いいね',
      /* dates */
      days_ago:'日前',
      hours_ago:'時間前',
      minutes_ago:'分前',
      within_the_last_minute:'数秒前',
      msg_thankyou:'コメントありがとうございます！',
      msg_approval:'このコメントは許可次第反映されます。',
      msg_approval_required:'コメントありがとうございます！このコメントは管理人が許可次第反映されます。',
      err_bad_html:'コメントに不正な HTML タグが含まれています。',
      err_bad_email:'有効なメールアドレスを入力してください。',
      err_too_frequent:'コメントを連続投稿するには数秒待つ必要があります。',
      err_comment_empty:'コメントが空欄のため、投稿されませんでした。',
      err_denied:'このコメントは却下されました。',
      err_unknown:'原因不明エラーが発生したため、コメントが投稿されませんでした。管理人にこの問題を報告してください。',
      err_spam:'スパムと認定されたためこのコメントは削除されました。',
      err_blocked:'サイトポリシーによりこのコメントは削除されました。',
  
      /* SETTINGS */
      MAX_CHARS: 256,
      PAGE:'', /* ID of the webpage to show comments for. defaults to the webpage the user is currently visiting. */
      ON_COMMENT: function(){}, /* Function to call after commenting. */
      RELATIVE_DATES:true /* show dates in the form "X hours ago." etc. */
  };
  </script>
  <!-- done customizing labels of htmlcommentbox.com -->

  <style>
    html[data-theme="dark"] #HCB_comment_box #hcb_form .btn, #HCB_comment_box #HCB_comment_form_box .btn {
      background:none; /* Clear twitter bootstrap style. */
      border: 0;
      background-color: #bbb;
      color: #0e0e0e;
    }
    html[data-theme="dark"] #HCB_comment_box #hcb_form .hcb-door-in {
      filter: invert(100%);
    }
    html[data-theme="dark"]   #HCB_comment_box #hcb_form_content, #HCB_comment_box #hcb_form_email, #HCB_comment_box #hcb_form_name, #HCB_comment_box #hcb_form_website {
      background-color:#555;
      border: solid 1px #bbb;
    }
  </style>