{%- if page.paginator -%}
{%- assign paginator = page.paginator -%}
{%- elsif paginator == nil -%}
{%- assign paginator = site -%}
{%- endif -%}

{%- if paginator.posts.size > 0 -%}
<div class="pagination">
  <!-- Post list links -->
  <div class="post-list">
    {%- for post in paginator.posts -%}
    <article class="list-item">
      {%- assign date_format = site.yat.date_format | default: "%b %-d, %Y" -%}
      {% assign img = post.image %}
      {% assign article = post.content %}
      {% assign lang = post.lang %}
      {%- include functions.html func='get_reading_time' -%}
      {% assign reading_time = return %}
      {%- include functions.html func='get_article_excerpt' -%}
      {% assign excerpt = return %}
      {%- assign post_url = post.url | relative_url -%}
      <a class="card-link" href="{{ post_url }}">
        <div class="post-img">
          <img src="{% if img.start_with?("/") %}{{ img | default: "/blog/assets/images/banners/ogp.jpg" }}{% else %}{{
            img | default: "assets/images/banners/ogp.jpg" | relative_url }}{% endif %}" loading="lazy"
            alt="{{ post.title | escape }} のサムネイル画像" title="{{ post.title | escape }}">
        </div>
        <div class="post-text">
          <h2 class="post-title">
            {{ post.title | escape }}
          </h2>
          <div class="post-meta">
            <span class="post-date"><span class="material-icons-outlined" aria-label="公開日">event</span> {{ post.date |
              date:
              date_format }}</span>
            <span class="post-reading-time left-vsplit"><span class="material-icons-outlined"
                aria-label="読了時間">schedule</span> {{ reading_time }}</span>
          </div>
          <span class="post-excerpt">
            <p>
              {{ excerpt }}
            </p>
          </span>
        </div>
      </a>
    </article>
    {%- endfor -%}
  </div>

  <!-- Pagination links -->
  {%- if paginator.posts.size < site.posts.size -%} {%- include views/paginator.html -%} {%- endif -%} </div>
    {%- endif -%}