<header class="post-header">
  <h1 class="post-title p-name" itemprop="name headline">{{ heading | default: page.title | escape }}</h1>
  <h2 class="post-subtitle">{{ subheading | default: page.subtitle | escape }}</h2>

  <p class="post-meta">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.yat.date_format | default: "%b %-d, %Y" -%}
      <svg class="ico-svg" aria-label="公開日" title="公開日"><use xlink:href="/assets/symbol-defs.svg#event" /></svg> {{ page.date | date: date_format }}
    </time>
    {%- if page.seo.date_modified -%}
      <time class="dt-published" datetime="{{ page.seo.date_modified | date_to_xmlschema }}" itemprop="dateModified">
        &ensp;<svg class="ico-svg" aria-label="最終更新日" title="最終更新日"><use xlink:href="/assets/symbol-defs.svg#sync" /></svg> {{ page.seo.date_modified | date: date_format }}
      </time>
    {%- endif -%}

    {% assign article = page.content %}
    {% assign lang = page.lang %}
    {%- include functions.html func='get_reading_time' -%}
    {% assign reading_time = return %}
    <span class="post-reading-time left-vsplit"><svg class="ico-svg" aria-label="読了時間の目安" title="読了時間の目安"><use xlink:href="/assets/symbol-defs.svg#schedule" /></svg> {{ reading_time }}</span>
  </p>

  {%- if page.tags.size > 0 -%}
  <div class="post-tags">
    {%- for tag in page.tags -%}
    <a class="post-tag" href="{{ '/tags.html ' | relative_url }}#{{tag}}">#{{tag}}</a>
    {%- endfor -%}
  </div>
  {%- endif -%}

</header>
