---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p><strong>アクセスしようとしたページは存在しません。</strong></p>
  <p><a href="{{ site.baseurl }}">トップページ</a>から目的の記事を見つけることができます。</p>
</div>

<script>
  const path = location.pathname.split('/');
  if (path.length > 5) {
    location.pathname = path[1] + '/' + path[3] + '-' + path[4] + '/' + path[6].replace('.html', '');
  }
</script>
