<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include views/header.html -%}

    {%- include views/banner.html -%}

    {%- include extensions/hashlocate.html -%}

    {%- include extensions/theme-toggle.html -%}

    <main class="page-content" aria-label="Content">
      {% if page.layout == "home" %}<div class="wrapper wrapper-home">{% else %}<div class="wrapper">{% endif %}
        {{ content }}
      </div>
    </main>

    {%- include views/footer.html -%}

  </body>
</html>
